@page
@model Burger20106733.Pages.BurgerTest.IndexModel
@{
}

<style>
    table, th, td {
        border: 0.5px solid lightblue;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        border-bottom: 2px solid lightblue;
    }
</style>

<table>
    <tr>
        <th class="header">Burger Type</th>
        <th class="header">Burger Name</th>
        <th class="header">Price</th>
    </tr>
    <tr>
        <th>1</th>
        <td>BLT Whopper</td>
        <td>$10.50</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Grilled Chicken</td>
        <td>$8.50</td>
    </tr>
    <tr>
        <th>3</th>
        <td>Angus Beef</td>
        <td>$9.00</td>
    </tr>
    <tr>
        <th>4</th>
        <td>Vegetarian</td>
        <td>$7.00</td>
    </tr>
    <caption style="text-align:center">Table 1: Burger Details</caption>
</table>

