@page
@model Burger20106733.Pages.BurgerTest.PurchaseModel
@{
}

<h4 style="margin-bottom: 32px">You purchased @ViewData["BurgerName"]</h4>
<img src="~/images/@ViewData["BurgerImage"]" />
<h3 style="margin-top: 32px">Total Price: <span style="color: red">@ViewData["Price"]</span></h3>
